<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    .container {
        text-align: center;

    }
</style>
<body>
    <div class="container">

        <h1>Welcome to Events Lister Website </h1>
        <br>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.connectingup.org%2Fblog%2Fconnecting-up-events-program-101&psig=AOvVaw0948nTk_GaEEVuOQyNAbfH&ust=1585830428576000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiruO2cx-gCFQAAAAAdAAAAABAD" alt="Events app" >
        <form action="/" method="get">
        <button type="submit" class="btn btn-primary">See or list event</button>
        </form>
        
    </div>
</body>
</html>